@import "variables.scss";
.player{
    margin-top: 15px;
    .controls{
    }
    .tracks{
        font-family: Helvetica;
        list-style: none;
        margin-top: 30px; 
        padding: 0;
        .track{
            // color: $orange;
            font-weight: normal;
            margin-top: 5px;
            &:hover{
                background-color: linear-gradient(45deg, rgba(237,255,71,1) 0%, rgba(240,240,240,1) 23%, rgba(211,211,211,1) 100%);
            }
            span{
                // color: #FFF;
                font-weight: bold;
            }
        }    
    }
}