@import "variables.scss";
.container{
    // background-color: $KS-grey;
    // background-color: $torus-grey;
    // background-color: $lightgrey;
    .main {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-family: Helvetica;
            color: #060606;
            font-weight: 600;
            z-index: 10000;
            position: absolute;
            text-transform: uppercase;
            border-top: 6px solid;       
        }
    }
}