@import "variables.scss";
.container{
    // background-color: $KS-grey;
    // background-color: $torus-grey;
    // background-color: $lightgrey;
    background: linear-gradient(45deg, rgba(237,255,71,1) 0%, rgba(240,240,240,1) 23%, rgba(211,211,211,1) 100%);
    .main {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        h1{
            font-family: Helvetica;
            color: #060606;
            font-weight: 600;
            z-index: 10000;
            position: absolute;
            text-transform: uppercase;
            border-top: 6px solid;
        }
    }
}