html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #a9a9a9; */
  /* background: linear-gradient(130deg, rgba(65,65,65,1) 0%, rgba(205,205,205,1) 50%, rgba(211,211,211,1) 100%);  */
  /* background: linear-gradient(45deg, rgba(237,255,71,1) 0%, rgba(205,205,205,1) 23%, rgba(211,211,211,1) 100%); */
  /* background: linear-gradient(45deg, rgba(211,211,211,1) 0%, rgba(240,240,240,1) 77%, rgba(237,255,71,1) 100%);  */
  background: linear-gradient(45deg, rgba(237,255,71,1) 0%, rgba(240,240,240,1) 23%, rgba(211,211,211,1) 100%); 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
