html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #a9a9a9; */
  background: linear-gradient(130deg rgba(205,205,205,1) 75%, rgba(211,211,211,1) 25%); 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
